Electron/
bottom/
coc/
dconf/
discord/
fcitx/
gh/
github-copilot/
gtk-3.0/
gtk-4.0/
ibus/
mozc/
google-chrome/
libreoffice/
matplotlib/
neofetch/
nvtop/
pulse/
rog/
systemd/
vlc/
xournalpp/
QtProject.conf
.e/e/recent-files.txt
.rye/py
.rye/self
.rye/shims
.rye/tools
.rye/uv
.rye/env
unity3d/
unityhub/
zoom*.*
yay/
user-dirs.dirs
user-dirs.locale
