CurseForge/
Electron/
autostart/
bottom/
cef_user_data/
coc/
dconf/
discord/
fcitx/
gh/
github-copilot/
gtk-3.0/
gtk-4.0/
ibus/
mozc/
google-chrome/
libreoffice/
matplotlib/
neofetch/
nvtop/
pulse/
rog/
tailscale/
systemd/
vlc/
xournalpp/
unity3d/
unityhub/
JetBrains/
QtProject.conf
