Electron/
bottom/
coc/
dconf/
discord/
gh/
github-copilot/
google-chrome/
libreoffice/
matplotlib/
pulse/
rog/
systemd/
vlc/
xournalpp/
QtProject.conf
.e/e/recent-files.txt
.rye/py
.rye/self
.rye/shims
.rye/tools
.rye/uv
.rye/env

