[Desktop Entry]
Encoding=UTF-8
Type=Link
X-Enlightenment-Type=Removable
X-Enlightenment-Removable-State=Full
Name=Ventoy
Icon=drive-removable-media
Comment=着脱可能媒体
URL=file://dev/sda1
